/* Configuração da imagem de fundo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* imagem */
    background-image: url('img/fundo.jpg');
    /* Fazer a imagem cubrir toda a tela */
    background-size: cover;
    /* Centraliza a imagem */
    background-position: center;
    /* Evita que a imagem se repita */
    background-repeat: no-repeat;
    /* Faz a imagem "rolar" com a página */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 4em;
    color: #87CEFA;
}

#jogo {
    margin-top: 20px;
    background-color: #ffffffcc;
    /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 80%;
    max-width: 400px;
}

button {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 200px;
}

#resultado {
    margin-top: 30px;
}

#movimento-jogador,
#movimento-computador,
#resultado-jogo {
    font-size: 18px;
    margin: 10px;
}

#placar {
    margin-top: 30px;
}

#placar h2 {
    margin-bottom: 20px;
    color: #FF1493;
}

#placar p {
    font-size: 16px;
}

/*#escolha-jogador h2 */
    /* Definir o texto em negrito */
    /*font-weight: bold;*/


/* Media Query de telas menores que 600px (celulares) */
@media only screen and (max-width: 600px) {
    body {
        /* Colocar à  direita da tela a imagem de background*/
        background-position: right;
        
    }

    #jogo {
        width: 90%;
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        margin-top: 25px;
        font-size: 30px;
    }

    #movimento-jogador,
    #movimento-computador,
    #resultado-jogo {
        font-size: 16px;
    }

    #placar p {
        font-size: 14px;
    }
}
